.header__containter {
    display: flex;
    justify-content: space-around;
    align-items: center;
margin-bottom: 100px;
}

.logo {
    display: inline-block;
    left: 0;
}

.navList {
    display: flex;
    list-style: none;
    text-align: center;
}

.navList__item:not(:first-child) {
    margin-left: 20px;
}

.link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.link_text {
    font-style: italic;
    font-weight: bold;
    margin-right: 10px;
    color: orange
}

.active {
    color: rgb(244, 159, 1);

    
}
